@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter Variable";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/inter-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
      U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
      U+FFFD;
  }
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
  }
  html.dark {
    @apply bg-[#2A262B];
  }
  h1 {
    @apply text-3xl font-bold text-gray-800 antialiased lg:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold text-gray-800 lg:text-3xl;
  }
  h3 {
    @apply text-xl font-semibold text-gray-800 lg:text-2xl;
  }
  h1,
  h2,
  h3,
  p,
  div {
    @apply dark:text-white;
  }
  svg {
    @apply inline align-baseline;
  }
}

/* HTML */
header .viafoura,
header .viafoura .vf-tray-trigger:hover,
header .viafoura .vf-tray-trigger:focus {
  color: white !important;
  background-color: transparent;
}

/* Viafoura Identifiers */
#vf-content-recirculation-container {
  min-height: 338.84px !important;
}
#vf-conversation-starter-container {
  min-height: 275.19px !important;
}
#vf-conversations-container {
  min-height: 800px !important;
  scroll-margin-top: 75px;
}

/* Custom Identifiers */
#vf-broadcast-notification {
  @apply mb-4 mt-6 rounded border-[1px] border-stone-200 bg-white px-8 pb-8 pt-6 shadow-lg;
}
#vf-broadcast-notification label {
  @apply text-sm font-semibold text-stone-600;
}
#vf-broadcast-notification input,
#vf-broadcast-notification select,
#vf-broadcast-notification textarea {
  @apply mb-4 mt-1 w-full rounded border-stone-300 text-sm text-stone-600 focus:ring-stone-400;
}
#vf-broadcast-notification button {
  @apply m-auto mb-2 mt-4 flex rounded bg-indigo-500 px-6 py-4 text-base text-white hover:bg-indigo-600 disabled:bg-indigo-300;
}

/* Custom Classes */
.sales-menu-link {
  @apply block cursor-pointer rounded px-3 py-2 font-medium tracking-wide text-gray-800 transition-colors duration-200 hover:bg-gray-100 dark:text-white dark:hover:bg-neutral-700;
}

/* Viafoura Classes */
.viafoura {
  --primary-font: "Inter Variable", system-ui, sans-serif;
  --reserved-space-top: 62px !important;
}
.viafoura input:focus,
.viafoura textarea:focus {
  border: none !important;
  box-shadow: none !important;
}
.vf-trending-articles__header {
  @apply pb-2 text-lg font-bold capitalize !important;
}
.vf-comments-count {
  @apply text-sm font-semibold text-gray-500 !important;
}
.vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
.vf-account-nav-illustration {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vf-share-bar {
  padding-top: 0 !important;
}
.vf-share-bar-horizontal li:first-child {
  margin-left: 0px !important;
}
.vf-total-share-label {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.vf-topic-follow-button {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #666 !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  min-width: 75px !important;
  height: 20px !important;
  padding: 0px !important;
}
.vf-topic-unfollow-button {
  font-size: 10px !important;
  font-weight: 400 !important;
  min-width: 90px !important;
  height: 20px !important;
  padding: 0px !important;
}
.count-text {
  margin-left: 0 !important;
}

/* Viafoura Dark Mode Styles */
.dark .prose strong {
  color: #fff;
}
.dark .viafoura,
.dark .vf3-comments {
  --background-color: #2a262b !important;
  --light-text-on-background-color: #fff !important;
  --dark-text-on-background-color: #fff !important;
  --light-text-on-default-color: #fff !important;
  --dark-text-on-default-color: #fff !important;
  --dark-text-on-default-color: #fff !important;
  --secondary-text-color: #fff !important;
  --text-on-accent-color: #fff !important;
  --default-color: #434343;
  --primary-color-20: #434343;
  --primary-color-10: #434343;
  --accent-color-light: #2792fe !important;
  --accent-color: #1d8eff !important;
  --accent-color-dark: #007fff !important;
}
.dark .viafoura h2,
.dark .viafoura h3 {
  color: #fff;
}
.dark .viafoura .vf-community-content .vf-tabbed-subnav .vf-tabbed-nav {
  background-color: #2a262b;
}
.dark .viafoura .vf-conversation-starter_content {
  background-color: #43392d !important;
}
.dark .viafoura .vf-conversation-starter_text,
.dark .vf-secondary-text-colour,
.dark .vf-primary-colour {
  color: #fff !important;
}
.dark .viafoura .vf-livechat__header {
  @apply border-neutral-600 !important;
}
.dark .viafoura .vf-tray {
  color: #fff !important;
}
.dark .viafoura .vf-icon-button .vf-icon-svg {
  fill: #fff !important;
}
.dark .viafoura svg {
  fill: #fff !important;
}
.dark .viafoura .vf-comments-count {
  color: #fff !important;
}
.dark .vf-topic-follow-button {
  background-color: #1d8eff !important;
  border-color: #007fff !important;
  color: #fff !important;
}
.dark .vf-tabbed-nav__tabs .vf-active .vf-nav-label,
.dark .viafoura .vf-nav-button:hover .vf-nav-label,
.dark .viafoura .vf-label {
  color: #fff !important;
}
/* Temporal fixes */
.dark .viafoura .vf-editors-pick_container-right .vf-post .vf-post-name-button__username {
  color: #fff !important;
}
.dark .viafoura .vf-feedback-survey__label {
  color: #fff !important;
  opacity: 0.6 !important;
}
