<aside class="sticky top-[88px] hidden h-[730px] w-[300px] lg:block">
  <div class="viafoura" style="min-height: 274px">
    <vf-standalone-ad></vf-standalone-ad>
  </div>
  <div class="mt-7">
    <div class="viafoura" style="min-height: 420px">
      <vf-trending-articles
        title="Trending Articles"
        limit="5"
        days-published="1"
        trend-window="1"
        sort="comments"
        view="full"></vf-trending-articles>
    </div>
  </div>
</aside>
