<footer
  class="mt-14 border-t border-gray-300 bg-gray-50 py-7 text-center text-sm text-gray-400 dark:border-neutral-700 dark:bg-[#1A1A1A]"
>
  <div>Viafoura - Copyright © 2024</div>
  <div>
    <a
      class="privacy-policy"
      href="https://viafoura.com/privacy-policy"
      target="_blank">Privacy Policy</a
    >
  </div>
  <svg
    stroke="currentColor"
    fill="none"
    stroke-width="2"
    viewBox="0 0 24 24"
    aria-hidden="true"
    class="mt-1 h-6 w-6 cursor-pointer"
    height="1em"
    width="1em"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Enable Dark Theme</title>
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
    ></path>
  </svg>
</footer>
