<footer
  class="mt-[35px] border-t border-gray-300 bg-gray-50 py-7 text-center text-sm text-gray-500 dark:border-neutral-700 dark:bg-[#1A1A1A]"
>
  <div>Viafoura - Copyright © {new Date().getFullYear()}</div>
  <div>
    <a
      class="hover:underline hover:brightness-75"
      href="https://viafoura.com/privacy-policy"
      target="_blank">Privacy Policy</a
    >
  </div>
  <button
    id="theme-toggle"
    class="mt-1 h-6 w-6 cursor-pointer"
    aria-label="Toggle Theme"
    title="Toggle Theme"
  >
    <svg
      viewBox="0 0 24 24"
      fill="currentColor"
      stroke="currentColor"
      class="h-6 w-6 text-gray-500 transition-colors duration-200 hover:text-gray-700 dark:text-white dark:hover:text-gray-300"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      ></path>
    </svg>
  </button>
</footer>
