<header
  class="sticky top-0 z-10 h-16 max-w-full bg-neutral-800 px-4 py-3 dark:bg-[#090909]"
>
  <div class="mx-auto flex max-w-6xl items-center">
    <div class="h-10 w-10">
      <div class="flex">
        <button class="flex items-center" title="Open Menu">
          <img
            class="h-8 w-8"
            src="src/assets/images/sales-menu.svg"
            alt="Sales Menu"
          />
        </button>
      </div>
    </div>
    <div class="mx-auto h-[30px] w-[150px]">
      <a href="/" title="Viafoura"
        ><img src="src/assets/images/white-logo.svg" alt="Viafoura" /></a
      >
    </div>
    <div class="h-10 w-10 rounded-full bg-neutral-700 hover:bg-neutral-600">
      <div class="viafoura"><vf-tray-trigger></vf-tray-trigger></div>
    </div>
  </div>
</header>
