---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<div class="h-8 w-8">
  <button id="open-menu" title="Open Menu">
    <svg
      class="h-8 w-8"
      stroke="#fff"
      fill="#fff"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path>
    </svg>
  </button>
  <div id="menu" class="relative -top-[35px] z-20 hidden">
    <div
      class="w-80 rounded border bg-white p-3 pb-5 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
    >
      <div class="mb-2 flex items-center justify-between">
        <div class="ml-2 text-xl font-bold hover:text-red-700 dark:text-white">
          <a href="/" title="Viafoura">Viafoura</a>
        </div>
        <div>
          <button
            id="close-menu"
            title="Close Menu"
            class="flex h-10 w-10 items-center justify-center rounded-full hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-neutral-700"
          >
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="h-7 w-7 text-center text-gray-700 dark:text-gray-300"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <nav>
        {
          posts
            .filter(post => post.data.productDemo)
            .map(post => (
              <a href={`/posts/${post.slug}`} title={post.data.productDemo} class="sales-menu-link">
                {post.data.productDemo}
              </a>
            ))
        }
        <a href="/livechat-overlay" title="Live Chat - Overlay" class="sales-menu-link">
          Live Chat - Overlay
        </a>
        <a href="/broadcast-notification" title="Broadcast Notification" class="sales-menu-link">
          Broadcast Notification
        </a>
      </nav>
    </div>
  </div>
</div>

<script>
  const openMenu = document.getElementById("open-menu");
  const closeMenu = document.getElementById("close-menu");
  const menu = document.getElementById("menu");

  if (openMenu && menu) {
    openMenu.addEventListener("click", () => {
      menu.classList.remove("hidden");
    });
  }

  if (closeMenu && menu) {
    closeMenu.addEventListener("click", () => {
      menu.classList.add("hidden");
    });
  }
</script>
