---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<div class="relative h-8">
  <button
    id="toggle-menu"
    title="Toggle Menu"
    aria-expanded="false"
    aria-controls="menu"
    class="relative h-8 w-8"
  >
    <svg
      id="open-icon"
      class="absolute left-0 top-0 h-8 w-8 rotate-0 opacity-100 transition-all duration-300 ease-in-out"
      stroke="#fff"
      fill="#fff"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path>
    </svg>

    <svg
      id="close-icon"
      class="absolute left-0 top-0 h-8 w-8 rotate-90 opacity-0 transition-all duration-300 ease-in-out"
      stroke="#fff"
      fill="#fff"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
      ></path>
    </svg>
  </button>

  <div
    id="menu"
    class="absolute left-0 z-20 hidden w-80 rounded border bg-white p-3 pb-5 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
  >
    <div class="mb-2 flex items-center justify-between">
      <div class="ml-2 text-xl font-bold dark:text-white">Menu</div>
    </div>

    <nav>
      {
        posts
          .filter(post => post.data.productDemo)
          .map(post => (
            <a href={`/posts/${post.slug}`} title={post.data.productDemo} class="sales-menu-link">
              {post.data.productDemo}
            </a>
          ))
      }
      <a href="/livechat-overlay" title="Live Chat - Overlay" class="sales-menu-link">
        Live Chat - Overlay
      </a>
      <a href="/broadcast-notification" title="Broadcast Notification" class="sales-menu-link">
        Broadcast Notification
      </a>
    </nav>
  </div>
</div>

<script>
  const toggleMenu = document.getElementById("toggle-menu");
  const menu = document.getElementById("menu");
  const openIcon = document.getElementById("open-icon");
  const closeIcon = document.getElementById("close-icon");

  if (toggleMenu && menu && openIcon && closeIcon) {
    toggleMenu.addEventListener("click", () => {
      const isMenuOpen = menu.classList.toggle("hidden");
      toggleMenu.setAttribute("aria-expanded", (!isMenuOpen).toString());

      openIcon.classList.toggle("opacity-0", !isMenuOpen);
      openIcon.classList.toggle("rotate-90", !isMenuOpen);
      openIcon.classList.toggle("opacity-100", isMenuOpen);
      openIcon.classList.toggle("rotate-0", isMenuOpen);

      closeIcon.classList.toggle("opacity-0", isMenuOpen);
      closeIcon.classList.toggle("rotate-90", isMenuOpen);
      closeIcon.classList.toggle("opacity-100", !isMenuOpen);
      closeIcon.classList.toggle("rotate-0", !isMenuOpen);
    });
  }
</script>
