---
interface Props {
  width: string;
  height: string;
}

const { width, height } = Astro.props;
---

<div class={`skeleton-loader relative overflow-hidden rounded-sm bg-[#ebebeb] dark:bg-gray-600 ${width} ${height}`}>
  <div class="bg-shimmer"></div>
</div>

<style>
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  .bg-shimmer {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 1s infinite;
  }
</style>
