---
interface Props {
  width: string;
  height: string;
}

const { width, height } = Astro.props;
---

<div
  class="skeleton-loader relative overflow-hidden rounded bg-[#ebebeb] dark:bg-gray-600"
  style={`width: ${width}; height: ${height};`}
>
  <div class="bg-shimmer animate-shimmer absolute inset-0 bg-no-repeat"></div>
</div>
