<nav
  class="-ml-5 flex h-14 items-center justify-center border-b-[1px] border-gray-200 bg-gray-100 text-sm uppercase text-gray-500 dark:border-neutral-700 dark:bg-[#1A1A1A]"
>
  <a href="/topics/media" class="ml-5 font-semibold text-gray-600 hover:underline dark:text-white"
    >Media</a
  ><a href="/topics/news" class="ml-5 font-semibold text-gray-600 hover:underline dark:text-white"
    >News</a
  ><a
    href="/topics/politics"
    class="ml-5 font-semibold text-gray-600 hover:underline dark:text-white">Politics</a
  ><a href="/topics/sports" class="ml-5 font-semibold text-gray-600 hover:underline dark:text-white"
    >Sports</a
  ><a href="/topics/travel" class="ml-5 font-semibold text-gray-600 hover:underline dark:text-white"
    >Travel</a
  >
</nav>
