---
import SkeletonLoader from "@/components/SkeletonLoader.astro";

interface Props {
  vfContainerId: number;
  slug?: string;
}

const { vfContainerId, slug } = Astro.props;
const link = slug ? `/posts/${slug}` : "";
---

<div
  class="ml-[15px] flex border-l border-b-neutral-300 pl-3 font-semibold text-gray-800 dark:border-neutral-600"
>
  <a
    class="flex hover:underline"
    href={`${link}#vf-conversations-container`}
    title="Join the Conversation"
  >
    <svg
      viewBox="0 0 24 24"
      fill="currentColor"
      class="mr-1 mt-[2px] h-5 w-5 text-gray-500 dark:text-white"
    >
      <path d="M7 7h10v2H7zm0 4h7v2H7z"></path>
      <path
        d="M20 2H4c-1.103 0-2 .897-2 2v18l5.333-4H20c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm0 14H6.667L4 18V4h16v12z"
      ></path>
    </svg>
    <div class="viafoura flex items-center">
      <SkeletonLoader width="w-[24px]" height="h-[13px]" />
      <vf-conversations-count vf-container-id={vfContainerId}></vf-conversations-count>
    </div>
  </a>
</div>

<script>
  import { observeVfHideSkeleton } from "@/utils/observeVfHideSkeleton";

  observeVfHideSkeleton(".vf-comments-count");
</script>
