<div class="viafoura not-prose h-[635px] min-[780px]:h-[351px]" style="min-height: 351px">
  <vf-content-recirculation
    title="Trending Conversations"
    limit="5"
    days-published="1"
    trend-window="1"
    sort="comments"
  >
  </vf-content-recirculation>
</div>
