<div class="absolute bottom-0 left-0 right-0 h-[175px] sm:hidden">
  <div class="viafoura" style="min-height: 175px; height: 175px" id="livechat-wrapper">
    <vf-livechat vf-container-id="livechat-nba"></vf-livechat>
  </div>
</div>
