<div class="hidden xl:block">
  <div
    class="viafoura fixed left-[calc(50%-625px)] top-1/2 min-w-[60px] -translate-y-1/2"
    style="min-height: 270px"
  >
    <div
      class="vf-widget vf-share-bar-circle vf-share-bar-vertical"
      data-widget="sharebar"
      data-button-view="false"
      data-show-labels="false"
      data-show-counters="false"
      data-show-total="true"
      data-path="/"
    >
    </div>
  </div>
</div>
<div class="block h-[66px] w-[240px] xl:hidden">
  <div class="viafoura" style="min-height: 56px">
    <div
      class="vf-widget vf-share-bar-circle vf-share-bar-horizontal"
      data-widget="sharebar"
      data-button-view="false"
      data-show-labels="false"
      data-show-counters="false"
      data-show-total="true"
      data-path="/"
    >
    </div>
  </div>
</div>
