<div class="hidden xl:block">
  <div class="viafoura custom-vf-share-bar" style="min-height: 270px">
    <div
      class="vf-widget vf-share-bar-circle vf-share-bar-vertical"
      data-widget="sharebar"
      data-button-view="false"
      data-show-labels="false"
      data-show-counters="false"
      data-show-total="true"
      data-path="/"
    >
    </div>
  </div>
</div>
<div class="mt-5 block h-[66px] w-[306px] xl:hidden">
  <div class="viafoura" style="min-height: 66px">
    <div
      class="vf-widget vf-share-bar-circle vf-share-bar-horizontal"
      data-widget="sharebar"
      data-button-view="false"
      data-show-labels="false"
      data-show-counters="false"
      data-show-total="true"
      data-path="/"
    >
    </div>
  </div>
</div>

<style>
  .custom-vf-share-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 650px);
    min-width: 60px;
  }
</style>
