---
import SkeletonLoader from "@/components/SkeletonLoader.astro";

interface Topic {
  id: number;
  name: string;
}

const { topics } = Astro.props as { topics: Topic[] };
---

<div class="mb-10 mt-6 border-b border-t border-stone-200 py-5 dark:border-neutral-600">
  <div class="mb-3 mt-0 font-semibold dark:text-white">Article Topics</div>
  <div class="flex gap-6">
    {
      topics.map((topic: { id: number; name: string }) => (
        <div class="flex items-center">
          <div class="mr-2 text-sm font-semibold text-gray-500">{topic.name}</div>
          <div class="viafoura">
            <SkeletonLoader width="w-[75px]" height="h-[20px]" />
            <vf-topic-follow
              topic-id={topic.id}
              topic-name={topic.name}
              topic-type="topic"
              show-count="false"
              minimum-count="5"
            />
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import { observeVfHideSkeleton } from "@/utils/observeVfHideSkeleton";

  observeVfHideSkeleton(".vf-topic-follow-button");
</script>
