---
import "@/styles/globals.css";
import "@fontsource-variable/inter";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import TopicsNav from "@/components/TopicsNav.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="https://demo.viafoura.com/" />
    <meta name="vf:domain" content="demo.viafoura.com" />
    <link rel="shortcut icon" href="/src/images/favicon.ico" type="image/x-icon" />
    <title>Viafoura Demo</title>
    <meta
      name="description"
      content="Viafoura Demo Site to showcase best practices for all of our community tools"
    />
    <meta property="og:title" content="Viafoura Demo" />
    <meta
      property="og:description"
      content="Viafoura Demo Site to showcase best practices for all of our community tools"
    />
    <meta property="og:image" content="/src/images/viafoura-demo.webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="733" />
    <meta property="og:image:alt" content="Viafoura Demo" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Viafoura Demo" />
    <meta name="robots" content="noindex" />
    <script src="/scripts/darkMode.js" is:inline></script>
  </head>
  <body>
    <Header />
    <TopicsNav />
    <main class="container mx-auto mt-7 min-h-[calc(100vh-310px)] max-w-6xl px-5">
      <slot />
    </main>
    <Footer />
    <script async src="//cdn.viafoura.net/entry/index.js" is:inline></script>
  </body>
</html>
